:root {
  --primary: yellow;
  --secondary: red;
  --dark: black;
  --light: white;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: monserrat, sans-serif;
  width: 100%;
  min-height: 100vh;
}

.card {
  margin: 100px auto 0;
  width: 400px;
  height: 600px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.card__inner {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  border-radius: 12;
  -webkit-box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__face--front h2 {
  color: #fff;
  font-size: 32px;
}

.card__face--back {
  background-color: var(--light);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__content {
  width: 100%;
  height: 100%;
}

.card__header {
  position: relative;
  padding: 30px 30px 40px;
}

.card__header::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 0 0 50% 0;
  background-image: -webkit-gradient(linear, right top, left bottom, color-stop(10%, var(--primary)), color-stop(115%, var(--secondary)));
  background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
}

.pp {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-color: white;
  border: 5px solid white;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__header h2 {
  color: white;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.card__body {
  padding: 30px;
}

.card__body h3 {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.5;
}

.container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  outline: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.baires {
  top: 140px;
  position: relative;
  left: 250px;
}

/* * ============================== */
/* * ============ HEADER ========== */
/* * ============================== */
.navbar {
  background: #ffcd48;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar a {
  color: #fff;
  display: inline-block;
  padding: 20px;
  width: 100%;
  text-align: center;
  color: #000;
  -webkit-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
}

.navbar a .navbar a:hover {
  background: #1d2f3d;
  color: #fff;
  text-decoration: none;
}

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* * ============================== */
/* * ===== CONTENEDOR IMAGEN ====== */
/* * ============================== */
.contenedor-imagen {
  height: 100vh;
}

.contenedor-imagen img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 bottom;
     object-position: 0 bottom;
}

/* * ============================== */
/* * ============ MAIN ============ */
/* * ============================== */
main {
  min-height: 100vh;
}

main .contenido p {
  margin-bottom: 20px;
  line-height: 30px;
  color: #525151;
}

main .contenido .titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  padding-top: 40px;
}

main .contenido .fecha {
  font-size: 14px;
  color: #b5b5b5;
}

/* * ============================== */
/* * ============ ASIDE =========== */
/* * ============================== */
aside {
  min-width: 30%;
  margin: 40px 20px 20px 0;
  height: 100%;
  padding: 20px;
  border-radius: 3px;
}

aside .titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 20px;
  color: #f2f2f2;
}

aside .indice a {
  display: block;
  margin-bottom: 10px;
  color: #ffcd48;
}

/* * ============================== */
/* * ========== FOOTER ============ */
/* * ============================== */
/* * ============================== */
/* * ====== MEDIA QUERIES ========= */
/* * ============================== */
@media screen and (max-width: 900px) {
  .navbar .contenedor {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }
  .navbar a {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .contenedor-imagen {
    height: 50vh;
  }
  main .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=card.css.map */